* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.body {
  
  background-image: url(../img/background_img2.jpg);
  background-color: black;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

/*BARRA NAVEGADORA*/
.nav-bar {
  text-align: center;

}
.img_boton{
  height: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 20px; 
}

.img_boton:hover{
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg) ;
}


@media screen and (max-width: 600px) {
  .nav-bar {
    background-color: black;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
          
    padding: 15px;
  }
  
}

.nav__button {
  border-radius: 5px;
  padding: 5px;
  margin-inline: 5px;
}

.nav__button:hover {
  background:#39383a;
  -webkit-transition: 1s;
  transition: 1s;
}

/*IMAGEN DE CABECERA*/

.cabecera {
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 70px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 50px;
  
}

.cabecera__img{
  border-radius: 20px;
  box-shadow: 0 15px 25px 10px rgb(0, 0, 0);
}

.cabecera:hover {
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg) ;
          
}

#logo_galeria{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5% ;
}

/*H2*/
.h2 {
  background-color: transparent;
color: azure;

}

.parrafo {
  text-align: center;
  color: white;
  font-size: 20px;

}

.form {
  color: white;
}

#BCarg {
  text-align: center;
}
.footer div {
  text-align: center;
  
}

/*FOOTER*/
.footer a{
  text-decoration: none;
  list-style: none;
  font-family: monospace;
  font-style: oblique;
  margin-left: 15px;
  display: inline;
  align-items: center;
  
}

.parrafo__fotter{
  color: aliceblue;
  text-align: center;
  font-size: 15px;
  font-family: cursive;
  font-style:italic;
}
/*cambio de fondo botones*/
.button__footer .fa-facebook:hover{
  background-color: #3b5998;
}
.button__footer .fa-instagram:hover{
  background-color: #ff0084;
}
.button__footer .fa-spotify:hover{
  background-color: #01a74c;
}
.button__footer .fa-youtube:hover{
  background-color: #bb0000;
}



/*IMAGENES DE GALERIA*/
#javi {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#sid {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#cris {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#raul {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#hermes {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
/*centrar contenido contactos*/
.contacto {
  text-align: center;
  margin: 10px;
}
/*centrar contenido formularios*/
.formulario {
  text-align: center;
}


/*HISTORIA*/
.historia_titulo{
  color: aliceblue;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 70px;
  
  
}
/*fondo div historia*/
.historia {
  background:rgb(0, 0, 0);
  opacity: 75%;
  border-radius: 40px;
  box-shadow: 0 15px 25px 10px rgb(73, 66, 66);
  text-align: center;
  padding: 15px;
  margin: 25px;
  font-style: inherit;
  margin:auto;
}

.item img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#carrousel{
  margin: 50px;
}


  

  .container .grid{
	  margin-top: 50px;
  }
  .title{
	  font-size: 45px;
	  font-weight:bold;
	  text-align: center;
  }
  .post-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 293px));
	justify-content: center;
	grid-gap: 28px;
  }
  .post {
	cursor: pointer;
	position: relative;
	display: block;
  }
  .post-image {
	margin: 0;
  }
  .post-image img {
	width: 100%;
	vertical-align: top;
  }
  .post-overlay {
	background: rgba(0,0,0, .4);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;

  }

  .post:hover .post-overlay {
	display: flex;
  }

  .post-likes,
  .post-comments {
	width: 80px;
	margin: 5px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
  }

  @media screen and (max-width: 768px) {
	.post-list {
  grid-gap: 3px;
	}
  }


  /*CARD DEL INICIO/HOME*/
.card_inicio{
  background-image: url(../img/card.jpg);
  background-position:center;
  background-repeat: no-repeat;
  
  border-radius: 40px;
  box-shadow: 0 15px 25px 10px rgb(0, 0, 0);
  
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 3000%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

  

  /*ESTILO DE PARRAFO NUMERO 2*/
  
  .parrafo2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(255, 255, 255);

  }

  .video__galeria{
    text-align: center;

  }


.registro_texto{
  color: azure;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 500px; 
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.boton_enviar{
  border-style: none;
  background-color: rgb(87, 82, 82);
  margin-left: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

.body_historia{
  background-color: black;
}

.post{
  -webkit-transition:all 2s ease;
  z-index: 2;
}

.post :hover{
  -webkit-transform:scale(1.1);
  align-content: center;
  
  
}

.social {
	position: fixed; /* botones fijos en toda la pantalla*/
	left: 0px; /* barra en la izquierda */
	top: 200px; /* bajo la barra */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		padding: 15px 5px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* transicion */
	}

  .social ul li a:hover {
		padding: 35px 20px; /*mas grande el espacio cuando paso el mouse */
	} 

/*colores de cada red social*/
	.social ul li .fa-facebook {background: transparent;} 
  .social ul li .fa-facebook:hover {background: #3b5998;} 
  .social ul li .fa-spotify {background: transparent}
	.social ul li .fa-spotify:hover {background: #01a74c}
	.social ul li .fa-youtube {background: transparent;}
  .social ul li .fa-youtube:hover {background: #bb0000;}
	.social ul li .fa-instagram {background: transparent}
  .social ul li .fa-instagram:hover {background: #ff0084}



  /*formulario de contacto*/

  .form_contacto{
    
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px 40px rgb(0, 0, 0);
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative

    
  }
  

input{
  width:100%;
  padding:10px;
  background:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  border-bottom:2px solid #40409c;
  
}


.button__send{
  color: #000000;
  padding: 5px;
  background: rgb(245, 112, 112);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #000000;
  font-family:cursive;
}

.button__send:hover{
  background-color: rgb(0, 206, 137);
  transition: 1s;
  box-shadow:none;
  padding: 15px;
  font-family:cursive;
}

.cartoon{
  position: relative;
  height: 10vh;
  border-radius: 50px;
  margin-left: -330px;
  margin-top:-400px;
}

.cont{
  text-align: center;
}